/*selector {property: value;}*/
#div1 {font-family: 'Newsreader', serif;
		font-size: 150%;}

#nav1 {
	font-size: 20px;
	background-color: rgba(65, 101, 184, 0.5);
	width: 300px;
	color: #A6CADF;
	box-shadow: 4px 4px 4px #888888;
	text-transform: uppercase;	
} 


#list1 {
	list-style: none;
}

.webtext {
	background-color: rgba(95, 100, 113, 0.5)
}


footer {
	text-align: center;

}