:root {
	--clr-neon:#0fa;
	--clr-background:#2c2c2e;
	--clr-NeonHover:#c2debf;
	}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--clr-background);
	color: var(--clr-neon);
}

h1 	{
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 5em;	
	}

 
 .Welcome-Button {
	    pointer-events: auto;
		position: relative;
		border: .1em solid ;
		padding: .25em 1em;
		border-radius: .3em;
		color: var(--clr-neon);
		box-shadow: 0 0 0.8em;
		text-shadow: 0 0 0.8em;	
	  }

.Welcome-Button::before {
	pointer-events: none;
	content: '';
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	left: -10%;
	width: 120%;
	height: 150%;

	transform: perspective(4.5em) rotateX(42deg) translateZ(.2em) scale(1 , 1.2);
	filter: blur(.6em);
	opacity: 0.9;
	}

.Welcome-Button::after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 0 2em 0.5em var(--clr-neon);
	text-shadow: none;
	opacity: 0;
	transition: opacity 100ms linear;
}

.Welcome-Button:hover, .Welcome-Button:focus {
	background-color:var(--clr-NeonHover);
	text-shadow: none;

}