:root {
	background-color:#2c2c2e;
	}

a	{
	color: #fff;
}

h1 	{
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 5em;	
	}

 
 .Welcome-Button {
		border: .1em solid ;
		padding: .25em 1em;
		border-radius: .3em;
		color: #fff;
		text-shadow:
			0 0 7px #fff,
			0 0 10px #fff,
			0 0 21px #fff,
			0 0 42px #0fa,
			0 0 82px #0fa,
			0 0 92px #0fa,
			0 0 102px #0fa,
			0 0 151px #0fa;
	  }
