/* Selector {Property; Value:} */

* {
	font-family: 'Rubik', sans-serif;
}

h1 {
	text-align-last: center;
	font-size: 100px;
}

hr {
	border-color: rgb(60, 62, 65);
	border-width: 5px;
	max-width: 650px;
}

body{
	background: url("Background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
	}

.webtextexperience{
	margin-right: 150px;
	margin-left: 150px;
	font-size: 120%;
}

.webtextthiswebsite{
	margin-right: 150px;
	margin-left: 150px;
	font-size: 120%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) .webtextthiswebsite{ 
	margin-right: auto;
	margin-left: auto;
	font-size: 100%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) .webtextexperience{ 
	margin-right: auto;
	margin-left: auto;
	font-size: 100%;
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) .webtextthiswebsite{
	margin-right: auto;
	margin-left: auto;
	font-size: 100%;
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) .webtextexperience{
	margin-right: auto;
	margin-left: auto;
	font-size: 100%;
}

.imagecontainer {
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: 40px;
justify-content: center;
}

img:hover {
    transition: all 1s;
	transform: scale(1.1);
}

#imageindex {
width: 450px;
height: 450px;
margin: 10px;
box-shadow: 4px 4px 4px darkgray;
}

#nav1 {
	font-size: 20px;
	background-color: rgba(169, 169, 169, 0.8);
	width: 300px;
	color: darkgray;
	box-shadow: 4px 4px 4px darkgray;
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
}     

.container {
  height: 200px;
  position: relative;
  border: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
	text-align-last: center;
	padding: 1rem 2rem;
	align-items: center;
	border-radius: 100px;
	text-transform: uppercase;
	background-color: rgb(8, 123, 151);
	font-weight: 700;
	border-color: rgb(8, 123, 151);
	min-height: 80px;
}

.buttonprimary:hover	{
	background-color: darkgray;
	border-color: darkgray;
	border-width: 8px;
}

#ImagesExperience {
	justify-content: center;
	width: 450px;
	height: 450px;
	margin: 10px;
	box-shadow: 4px 4px 4px darkgray;
}

.linkedinlink{
	list-style: none;
	text-align: center;
}

.linkedinimage{
	width: 350px;
	height: 200px;
}

footer {
	text-align: center;
	color: white;
}